.filters {
    display: flex;
    flex-direction: column;
    min-width: 200px;
    align-self: flex-start;
    position: sticky;
    top:0;
    @media screen and (max-width: 768px) {
        margin-right: 20px;
        min-width: unset;
    }

    label {
        display: inline-flex;
        align-items: baseline;
        text-transform: capitalize;
    }
    h4 {
      font-size: 24px;
      margin-bottom: 8px;
    }
    p {
        font-weight: bold;
    }

    button {
        margin-top: 15px;
        width: 60%;
    } 
    .clear-btn {
        cursor: pointer;
        margin-top: 10px;
        color: #02599e;
        font-size: 12px;
        text-decoration: underline;
    }
  }
  